@import "_variables.scss";

button {
  border-radius: 50%;
  border: none;
}

.calculator__keypad__sub-operator {
  background-color: $quinaryColor;
  color: $primaryColor;
}

.calculator__keypad__main-operator {
  background-color: $quaternaryColor;
  color: $tertiaryColor;
}

#equals {
  border-radius: 25px;
}

.calculator__keypad__number {
  background-color: $secondaryColor;
  color: $tertiaryColor;
}