@import "_variables.scss";

button {
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.calculator__keypad__sub-operator {
  background-color: $quinaryColor;
  color: $primaryColor;
  box-shadow: 2px 2px $subShadow;
}

.calculator__keypad__main-operator, .calculator__keypad__equals {
  background-color: $quaternaryColor;
  color: $tertiaryColor;
  box-shadow: 2px 2px $mainShadow;
}

#equals {
  border-radius: 25px;
}

.calculator__keypad__number {
  background-color: $secondaryColor;
  color: $tertiaryColor;
  box-shadow: 2px 2px $numShadow;
}

.calculator__keypad__sub-operator:hover, .calculator__keypad__main-operator:hover, .calculator__keypad__equals:hover, .calculator__keypad__number:hover {
  background-color: $tertiaryColor;
}

.calculator__keypad__sub-operator:hover {
  color: $quinaryColor;
}

.calculator__keypad__main-operator:hover, .calculator__keypad__equals:hover {
  color: $quaternaryColor;
}

.calculator__keypad__number:hover {
  color: $secondaryColor;
}