$primaryColor: #222831;
$secondaryColor: #393E36;
$tertiaryColor: #eeeeee;
$quaternaryColor: #00ADB5;
$quinaryColor: #707681;

$subShadow: #494F59;
$mainShadow: #00929A;
$numShadow: #171C15;
$calShadow: #14181f;

$primaryFont: 'Rubik', sans-serif;