button {
  border-radius: 50%;
  border: none;
}

.calculator__keypad__sub-operator {
  background-color: #707681;
  color: #222831;
}

.calculator__keypad__main-operator {
  background-color: #00ADB5;
  color: #eeeeee;
}

#equals {
  border-radius: 25px;
}

.calculator__keypad__number {
  background-color: #393E36;
  color: #eeeeee;
}

* {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 1pc;
}

.calculator__operations-output {
  font-size: medium;
}

.calculator__output {
  font-size: xx-large;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.calculator {
  display: flex;
  flex-direction: column;
  background-color: #222831;
  width: fit-content;
  margin: 100px auto 0 auto;
  padding: 20px;
}
.calculator__operations-output, .calculator__output {
  text-align: right;
  color: #eeeeee;
}
.calculator__keypad {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 10px;
}
.calculator__keypad #equals {
  grid-column: 3/5;
  grid-row: 5/6;
}