button {
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.calculator__keypad__sub-operator {
  background-color: #707681;
  color: #222831;
  box-shadow: 2px 2px #494F59;
}

.calculator__keypad__main-operator, .calculator__keypad__equals {
  background-color: #00ADB5;
  color: #eeeeee;
  box-shadow: 2px 2px #00929A;
}

#equals {
  border-radius: 25px;
}

.calculator__keypad__number {
  background-color: #393E36;
  color: #eeeeee;
  box-shadow: 2px 2px #171C15;
}

.calculator__keypad__sub-operator:hover, .calculator__keypad__main-operator:hover, .calculator__keypad__equals:hover, .calculator__keypad__number:hover {
  background-color: #eeeeee;
}

.calculator__keypad__sub-operator:hover {
  color: #707681;
}

.calculator__keypad__main-operator:hover, .calculator__keypad__equals:hover {
  color: #00ADB5;
}

.calculator__keypad__number:hover {
  color: #393E36;
}

* {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 1pc;
}

.calculator__operations-output > h3 {
  font-size: medium;
}

.calculator__output > h2 {
  font-size: xx-large;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  display: flex;
  flex-direction: column;
  background-color: #222831;
  width: fit-content;
  margin: 75px auto 0 auto;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 5px 5px #14181f;
}
.calculator__operations-output, .calculator__output {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #eeeeee;
  background-color: #393E36;
  height: 50px;
  width: 230px;
}
.calculator__operations-output {
  box-shadow: 2px 2px #171C15 inset;
}
.calculator__output {
  margin-bottom: 10px;
  box-shadow: 2px 0px #171C15 inset;
}
.calculator__operations-output > h3, .calculator__output > h2 {
  width: 230px;
  height: 50px;
  margin: 0 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.calculator__keypad {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 10px;
}
.calculator__keypad #equals {
  grid-column: 3/5;
  grid-row: 5/6;
}